.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* ~~~~~~~~~~~~~~~~~~~~~~ LANDING PAGE STYLING ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.LandingPage {
  background-color: #21D9A8;
  height: 2000px;
  width: 100vw;
}

/* ~~~~~~~~~~~~~~~~~~~~~~ HOME PAGE STYLING ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.home-page {
  background-color: #21D9A8;
  height: 2000px;
  width: 100vw;
}

.Navbar {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 70vw;
  bottom: 12vh;
}

/* ~~~~~~~~~~~~~~~~~~~~~~ EXPLORE STYLING ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.explore-page {
  background-color: #21D9A8;
  height: 6000px;
  width: 100vw;
}

.Filter {
  position: relative;
  background-color: #16C798;
  margin-right: 5vw;
  width: 15vw;
}

.results-heading {
  position: relative;
  bottom: 70vh;
  left: 8vw;
}

.Results {
  /* border: white solid; */
  width: 80vw;
  position: relative;
  bottom: 72vh;
  left: 18vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.Result {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.EachPlant {
  flex-basis: 15vw;
  background-color: #16C798;
  border: #21D9A8 solid;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~ NEW PLANT STYLING ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.new-plant-page {
  background-color: #21D9A8;
  height: 6000px;
  width: 100vw;
}

.Search {
  border: none;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
